name: Code checks

on:
  push:
  workflow_call:

env:
  UV_VERSION: 0.9.26

jobs:
  Tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PYTHON_VERSION: ["3.12", "3.13"]
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b  # v7.2.0
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: 'true'
          cache-suffix: ${{ matrix.PYTHON_VERSION }}

      - name: Test the library
        run: |
          uv run --locked poe check-all
