name: Code checks

on:
  push:
  workflow_call:

env:
  UV_VERSION: 0.9.8

jobs:
  Tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PYTHON_VERSION: ["3.12", "3.13"]
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

      - name: Install uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41  # v7.1.2
        with:
          version: ${{ env.UV_VERSION }}
          enable-cache: 'true'
          cache-suffix: ${{ matrix.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          uv sync --locked

      - name: Test the library
        run: |
          uv run poe check-all
